[submodule "stdromano"]
	path = ext/stdromano
	url = https://github.com/romainaugier/stdromano.git
[submodule "tinybvh"]
	path = ext/tinybvh
	url = https://github.com/romainaugier/tinybvh
[submodule "imnodes"]
	path = ext/imnodes
	url = https://github.com/nelarius/imnodes
